<div class = "panel panel-info">
  <h2 class = "panel-heading">内容の確認</h2>

  <div class = "form panel-footer">
    <%= form_with(model: @blog, local: true) do |form| %>

    <%= form.hidden_field :title %>
    <%= form.hidden_field :content %>
      <div class = "title panel panel-warning">
        <div class = "item panel-heading">
          <p class = "panel-title">タイトル</p>
        </div>
        <div class = "inputed_area panel-body">
          <p><%= @blog.title %></p>
        </div>
      </div>
      <div class = "content panel panel-warning">
        <div class = "item panel-heading">
          <p class = "panel-title">本文</p>
        </div>
        <div class = "inputed_area panel-body">
          <p><%= @blog.content %></p>
        </div>
      </div>
      <div class = "submit">
        <div class = "buttom">
          <%= form.submit 'この内容で登録する', class: 'btn btn-default' %>
        </div>
      </div>
    <% end %>

    <%= form_with(model: @blog, local: true, url: new_blog_path, method: 'get') do |form| %>
      <%= form.hidden_field :title %>
      <%= form.hidden_field :content %>
      <div class = "submit">
        <div class = "buttom">
          <%= form.submit '戻る', name: 'back', class: 'btn btn-default'  %>
        </div>
      </div>
    <% end %>
  </div>
</div>