<div class = "panel-info">
  <h2 class = "panel-heading">ブログの一覧</h2>
    
  <h4 class = "notice panel-body"><%= notice %></h4>
  <br>
    
  <div class = "panel-footer">
    <table class = "table table-hover">
      <tr>
        <th>タイトル</th>
        <th>画像</th>
        <th>本文</th>
        <th>投稿者</th>
        <th>作成日時</th>
        <th>更新日時</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <% @blog.each do |blog| %>
        <tr>
          <td><%= blog.title %></td>
          <td>
            <% if blog.image.url %>
              <%= image_tag(blog.image.url) %>
            <% else %>
              画像はありません。
            <% end %>
          </td>
          <td><%= blog.content %></td>
          <td><%= User.find(blog.user_id).name %></td>
          <td><%= blog.created_at %></td>
          <td><%= blog.updated_at %></td>
          <td><%= link_to 'ブログの詳細', blog_path(blog[:id]), class: 'btn btn-info' %></td>
          <td>
            <% if current_user[:id] == blog[:user_id] %>
              <%= link_to 'ブログを編集する', edit_blog_path(blog[:id]), data: {confirm: 'このブログを編集しますか？'}, class: 'btn btn-success' %>
            <% else %>
              投稿者以外編集できません
            <% end %>
          </td>
          <td>
            <% if current_user[:id] == blog[:user_id] %>
              <%= link_to 'ブログを削除する', blog_path(blog[:id]), method: :delete, data: {confirm: '本当に削除して良いですか？'}, class: 'btn btn-danger' %>
            <% else %>
              投稿者以外削除できません
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>