<div class = "panel panel-info">
  <h2 class = "panel-heading">ブログの詳細</h2>
  
  <div class = "panel-body">
    <strong><%= @blog[:title] %></strong>
    <div><%= @blog[:content] %></div>
    <br>
    <em>posted by <%= @user.name %></em>
    <small>updated_at </updated_at><%= @blog[:updated_at] %></small>
    </div>
    <% if @favorite %>
      <%= link_to 'お気に入りを解除', favorite_path(id: @favorite[:id]), method: :delete, class: 'btn btn-warning' %>
    <% else %>
      <%= link_to 'お気に入りに追加', favorites_path(blog_id: @blog[:id]), method: :post, class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>