<div class = "panel panel-info">
  <h2 class = "panel-heading">プロフィール</h2>

  <div class = "panel-footer">
    <% if notice %>
      <p class = "alert alert-warning" role = "alert"><%= notice %></p>
    <% end %>
    
    <div class = "panel panel-primary">
      <div class = "panel-heading">
        ユーザーネーム
      </div>
      <div class = "panel-body">
        <%= @user.name %>
      </div>
    </div>
    <div class = "panel panel-primary">
      <div class = "panel-heading">
        メールアドレス
      </div>
      <div class = "panel-body">
        <%= @user.email %>
      </div>
    </div>
    <div class = "row">
      <div class = "col-md-6 panel panel-info">
        <h4 class = "panel-heading">お気に入り一覧</h4>
        <ul class = "list-group">
          <% @favorite_blogs.each do |favorite_blog| %>
            <li class = "list-group-item">
              <strong><%= link_to favorite_blog[:title], blog_path(favorite_blog[:id]) %></strong>
              <div><%= favorite_blog[:content] %></div>
              <br>
              <em>posted by <%= User.find(favorite_blog[:user_id])[:name] %></em>
              <small>updated_at <%= favorite_blog[:updated_at] %></small>
            </li>
          <% end %>
        </ul>
      </div>
      <div class = "col-md-6 panel panel-info">
        <h4 class = "panel-heading">投稿一覧</h4>
        <ul class = "list-group">
          <% @blogs.each do |blog| %>
            <li class = "list-group-item">
              <strong><%= link_to blog[:title], blog_path(blog[:id]) %></strong>
              <div><%= blog[:content] %></div>
              <br>
              <em>posted by <%= User.find(blog[:user_id])[:name] %></em>
              <small>updated_at <%= blog[:updated_at] %></small>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>